<ion-header>
  <ion-toolbar *ngFor="let item of info" class="header-toolbar">
    <!-- Ajout d'un bouton pour revenir en arrière -->
    <div class="header_content">
      <div class="toolbar-item">
        <ion-icon routerLink="/tabs/tab2" name="chevron-back-outline" class="retour"></ion-icon>
      </div>

      <!-- titre -->
      <div class="nom">
        <ion-title>
          <ion-label>{{item?.nom}} {{item.prenom}}</ion-label>
        </ion-title>
      </div>
      <!-- l'avatar -->
      <div class="image">
        <ion-avatar slot="end">
          <img [src]="item?.image">
        </ion-avatar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="body">
    <div class="loadingContent" *ngIf="loading">
      <ion-spinner name="circular"></ion-spinner>
    </div>
    <div class="empty_state" *ngIf="messages.length == 0 && !loading">
      <div class="emptycontent">
        <div class="emptyimg">
          <img src="../../assets/Messages-rafiki.png" alt="">
        </div>
        <div class="emptytext">
          {{'Saluez pour lancer la conversation' }} 👋.
        </div>
      </div>
    </div>

    <div class="chat" *ngIf="messages.length > 0 && !loading">
      <div lines="none" *ngFor="let message of messages; let index = index;">
        <div class="w-100 d-flex" *ngIf="message.sender === user.id">
          <div class="w-100 text-start buyer_block" style="text-align: right;">
            <div class="date" [id]="index">{{message.date | date}}</div>
            <ion-badge [id]="index" class="ion-text-wrap buyer" slot="start" color="#526FF7">{{ message.text }}
            </ion-badge>

          </div>
        </div>
        <div class="w-100 d-flex justify-content-end aa " *ngIf="message.sender!= user.id" style="text-align: left ;">
          <div class="w-100 text-start user_block">
            <div class="date" [id]="index">{{message.date | date}}</div>
            <ion-badge [id]="index" class="ion-text-wrap user" slot="end" color="white"
              style="word-wrap: break-word;">{{
              message.text }} </ion-badge>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bottomElem" #bottomElem></div> -->

</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-input placeholder="Votre message" [(ngModel)]="messageText"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="  sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons> </ion-toolbar>
</ion-footer>