<ion-content>
  <ion-toolbar>
    <ion-label>
      <h2>Profil</h2>
    </ion-label>

  </ion-toolbar>
  <div class="card">
    <div class="card-img">
      <img [src]="user?.image">
    </div>
    <div class="card-content">
      <h3 class="name"> {{user?.prenom}} {{user?.nom}} </h3>
      <h4>{{ user?.type === 1 ? 'élève' : 'parent' }}</h4>
    </div>
  </div>
  <div class="setting">
    <p>paramètres</p>
  </div>
  <ion-list>
    <ion-item lines="full" routerLink="/editprofil">
      <ion-icon name="person-outline" slot="start"></ion-icon>

      <ion-label>modifier le compte
      </ion-label>

    </ion-item>

    <ion-item lines="full" routerLink="/ediit-password">
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-label>changer le mot de passe
      </ion-label>

    </ion-item>

    <ion-item lines="full" routerLink="/edit-phone">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>changer l'adresse e-mail</ion-label>

    </ion-item>
    <ng-container *ngIf="user?.type === 2">

      <ion-item lines="full" class="Enfant" routerLink="/enfant">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Enfant</ion-label>

      </ion-item>

    </ng-container>

    <ion-item lines="full" class="logout">
      <ion-icon type="submit" (click)="alertConfirmLogout()" name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Se déconnecter
      </ion-label>

    </ion-item>
  </ion-list>



</ion-content>