<ion-content>
  <div class="top-content">
    <img src="" alt="logo" />
  </div>
  <div class="bottom-email">
    <div class="name">
      <ion-icon color="primary" name="mail-outline"></ion-icon>
      <div>{{"E-mail ?" }}</div>
    </div>
    <form>
      <div class="card">
        <ion-item>
          <ion-input placeholder="Example@metal.com" type="email"></ion-input>
        </ion-item>

      </div>
      <div class="botton">
        <ion-button type="submit">
          <!--<ion-spinner name="dots"></ion-spinner>-->
          <div class="text">{{"Send"}}</div>
        </ion-button>
      </div>
    </form>
  </div>
  <div class="aa">
    <div class="text">Remembred? >Back to sign in</div>
  </div>
</ion-content>