<ion-content class="ion-padding  ion-text-center">
  <div class="container">
    <div class="h-100">
      <div class="cer-rouge">
        <img src="../../assets/welcom/Ellipse 195 (1).png">
      </div>
      <div class="img-famme">
        <img
          src="../../assets/welcom/woman-with-laptop-computer-sitting-floor-isolated-white-removebg-preview (1) 1.png ">
      </div>

      <div class="cer-jeune">
        <img src="../../assets/welcom/Ellipse 192.png " alt="">
      </div>
      <div class="cer-blue">
        <img src="../../assets/welcom/Ellipse 196.png" alt="">
      </div>
      <div class="cer-jeune2">
        <img src="../../assets/welcom/Ellipse 195.png" alt="">
      </div>

      <div class="cer-blue2">
        <img src="../../assets/welcom/Ellipse 194.png">
        <!-- <div class="cer-rouge">
      <img src="../../assets/images/Ellipse 195 (1).png" alt="">
    </div> -->
      </div>
    </div>
    <div class="text-wel">
      Bienvenue à Bluma

    </div>
    <div class="buttom-suiv">
      <ion-button routerLink="/login" class="buttom">
        Continue

      </ion-button>
    </div>
  </div>


</ion-content>