<ion-content>
  <div class="header">
    <ion-icon routerLink="/tabs/tab4" name="chevron-back-outline">
    </ion-icon>

    <div class="Password">
      <p> Nouveau mot de passe</p>
    </div>
  </div>

  <form>
    <div class="Current">
      <P>Mot de passe
      </P>
      <ion-input class=" " [(ngModel)]="Currentpass" [ngModelOptions]="{standalone: true}" type="password"
        placeholder=""><ion-icon name="key-outline"></ion-icon></ion-input>

    </div>

    <div class="Confirm ">
      <P>Confirmez le mot de passe</P>
      <ion-input class=" " [(ngModel)]="confirmpass" [ngModelOptions]="{standalone: true}" type="password"
        placeholder=""><ion-icon name="key-outline"></ion-icon></ion-input>
      <!-- <div *ngIf="forms.controls['confpassword'].hasError('incorrect')">
        les deux mots de passe ne sont pas identique
      </div> -->
    </div>
    <div class="boutton">
      <ion-button class="btn2" type="submit" (click)="editpassword()">
        <P class="tbtn2">Continue</P>
      </ion-button>
    </div>

  </form>
  <div *ngIf="serverError " class="error-message">
    les deux mots de passe ne sont pas identique .
  </div>


</ion-content>