<ion-content>
  <div class="profil">
    <p> Mot de passe oublié</p>
  </div>

  <div class="name">

    <div>{{"E-mail ?" }}</div>
  </div>
  <form>
    <div class="card">
      <ion-input [(ngModel)]="messageText" placeholder="Example@metal.com" type="email"
        [ngModelOptions]="{standalone: true}">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-input>
    </div>
    <div class="remembred">
      <p fill="clear" type="submit" class="text" routerLink="/login"> rappeler?
      <p>
    </div>

    <div class="boutton">
      <ion-button class="btn2" type="submit" (click)="forgotpassword()">

        <p class="tbtn2">envoyer</p>
      </ion-button>
    </div>

  </form>
  <div *ngIf="serverError " class="error-message">
    cette email n'existe pas .

  </div>


</ion-content>