.header {
    display: flex;

    ion-icon {
        margin: 8px;
        font-size: 27.5px;

        position: relative;
        color: #526ff7;
        top: 9px;
    }


    .Password {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {

            position: relative;
            font-size: 24px;
            color: #333333;
            top: -8px;
        }

    }
}



.Current {
    p {
        font-style: normal;
        /* font-weight: 600; */
        color: #000000;
        font-size: 14px;
        line-height: 20px;
        margin-left: 13px;
        margin-top: 33px;

    }
}

.boutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 28px;
}

/* Définir le style du bouton */
ion-button {
    color: white;
    /* padding: 12px 24px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

/* Définir le style du texte dans le bouton */
.tbtn2 {
    font-size: 20px;
    // font-weight: bold;
}



.Current ion-input[type="password"] {
    border: 3px solid #7878ff;
    border-radius: 12px;
    padding: 10px;
    height: 50px;
    /* font-size: 16px; */
    /* color: #333; */
    width: 95%;
    margin-left: 7px;
    margin-right: 5px;

    ion-icon {
        height: 16px;
        width: 30px;
    }
}

.new {
    p {
        font-style: normal;
        /* font-weight: 600; */
        color: #000000;
        font-size: 14px;
        line-height: 20px;
        margin-left: 13px;
        margin-top: 33px;
    }
}

.new ion-input[type="password"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-family: 'Ionicons';
    font-size: 24px;
    color: #ccc;
    z-index: 1;
}

.new ion-input[type="password"] {
    border: 3px solid #7878ff;
    border-radius: 12px;
    height: 50px;
    padding: 10px;
    /* font-size: 16px; */
    /* color: #333; */
    width: 95%;
    margin-left: 7px;
    margin-right: 5px;

    ion-icon {
        height: 16px;
        width: 30px;
    }
}

.Confirm {
    p {
        font-style: normal;
        /* font-weight: 600; */
        color: #000000;
        font-size: 14px;
        line-height: 20px;
        margin-left: 13px;
        margin-top: 33px;
    }

    ion-input[type="password"] {
        border: 3px solid #7878ff;
        border-radius: 12px;
        height: 50px;
        padding: 10px;
        /* font-size: 16px; */
        /* color: #333; */
        width: 95%;
        margin-left: 7px;
        margin-right: 5px;

        ion-icon {
            height: 16px;
            width: 30px;
        }
    }
}

#message-container {
    margin: 29px 20px 1px 16px;
    margin-top: 126px;
    padding: 12px;
    border-radius: 13px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center
}

#message-container.success {
    background-color: #ffffff;
}

#message-container.error {
    background-color: #ffffff;
}